<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>豆瓣电影</title>
  <link rel="stylesheet" href="assets/css/all.min.css">
</head>

<body ng-app="moviecat" ng-controller="MainController">
  <!-- 顶部导航栏开始 -->
  <div class="top">
    <div class="header">
      <a href="#/home_page"><img src="assets/img/logo.png" alt=""></a>
      <div class="search">
        <input class="my-input" type="text" placeholder="电影搜索" ng-model="query">
        <button ng-click="search()">搜索</button>
      </div>
    </div>
    <nav class="nav">
      <ul>
        <!--li中添加 active 类样式，显示焦点状态。-->
        <li auto-active><a href="#/home_page">首页</a></li>
        <li auto-active><a href="#/in_theaters">正在热映</a></li>
        <li auto-active><a href="#/coming_soon">即将上映</a></li>
        <li auto-active><a href="#/top250">Top250</a></li>
      </ul>
    </nav>
  </div>
  <!-- 顶部导航栏结束 -->
  <div class="container">
    <!-- 单页应用程序中：首页、列表页、详情页 展示的位置 -->
    <div ng-view></div>
  </div>
  <footer class="footer">
    <div class="container">
      <p>版权所有&copy; 前端与移动开发学院 前端(允许侵权)</p>
    </div>
  </footer> 
  <!-- 自动补全C3样式的前缀 -->
  <script src="assets/js/prefixfree.min.js"></script>
  <script src="assets/js/angular.min.js"></script>
  <script src="assets/js/angular-route.min.js"></script>

  <script src="app.js"></script>
  <script src="home/module.js"></script>
  <script src="movie_list/module.js"></script>
  <script src="common/itcastJSONP.js"></script>
  <script src="common/auto-active.js"></script>
  <script src="movie_detail/module.js"></script>
</body>

</html>
